---
---

@import "variables";
@import "fonts";

html, body {
	margin: 0;
	padding: 0;
}

body {
	background: $backgroundcolor;
	font-family: $basefont;
	color: $basefontcolor;
	margin-left: 8px;
	margin-right: 8px;
}

h1, p {
	margin: 0;
	padding: 0;
}

.comment, nav, .read-more {
	font-family: $btnfont;
}
nav > a {
	background-color: #eee;
}
a {
	color: inherit;
	text-decoration: none;
}
.entry > a, .meta > a {
	text-decoration: underline dotted;
}

header {
	padding-top: 8px;
	padding-bottom: 8px;
}

.mainheader {
	border-bottom: 2px dashed black;
	padding-bottom: 16px;
	margin-bottom: 16px;
}

.post {
	margin-top: 16px;
	margin-bottom: 16px;
}

.title {
	position: relative;
	z-index: 1;
	font-family: $btnfont;
	display: inline-block;
	&::after {
		display: block;
		position: absolute;
		z-index: -1;
		left: 0.5em;
		top: 50%;
		width: 100%;
		height: 50%;
		content: "";
		background-color: $titleshadow;
		@include small-screen {
			width: calc(100% - 0.5em + 8px);
		}
	}
}
.page .title::after{
	background-color: $pagetitleshadow;
}

.excerpt {
	position: relative;
}

.entry {
	max-width: 30em;
	& a {
		text-decoration: underline dotted;
	}
}

.read-more {
	display: inline-block;
	margin-top: 8px;
}

@include big-screen {
	.read-more[data-vertical] {
		position: absolute;
		display: inline-block;
		transform-origin: top left;
		transform: rotate(90deg) translateY(-100%);
		margin: 0;
		left: 0;
		top: 0;
		padding: 0;
	}

	.entry[data-vertical] {
		margin-left: 24px;
	}
}