---
---

@import "variables";
@import "fonts";

html, body {
	margin: 0;
	padding: 0;
}

body {
	background: $backgroundcolor;
	font-family: $basefont;
	color: $basefontcolor;
	margin-left: 8px;
	margin-right: 8px;
}

h1, h2, h3{
	margin: 0;
	padding: 0;
}
p{
	margin: 0;
	padding: 0;
}

.post{
	margin-bottom: 16px;
}

.comment, .tags, nav, .read-more {
	font-family: $btnfont;
}
.tags{
	margin-top: 8px;
}
.name{
	text-decoration: underline dotted;
}
nav > a{
	background-color: #eee
}
a {
	color: inherit;;
	text-decoration: none;
}

header {
	padding-top: 8px;
	padding-bottom: 16px;
}

.title {
	position: relative;
	z-index: 1;
	font-family: $btnfont;
	&::after {
		display: block;
		position: absolute;
		z-index: -1;
		left: 0.5em;
		top: 50%;
		width: 100%;
		height: 50%;
		content: "";
		background-color: $titleshadow;
		@include mobile {
			width: calc(100% - 0.5em + 8px);
		}
	}
}

.mainheader {
	border-bottom: 2px dashed black;
	margin-bottom: 16px;
}

.read-more {
	position: absolute;
	display: inline-block;
	transform-origin: top left;
	transform: rotate(90deg) translateY(-100%);
	margin: 0;
	padding: 0;
}

.read-more ~ .entry {
	margin-left: 24px;
}
.entry {
	max-width: 30em;
	& a {
		text-decoration: underline dotted;
	}
}