---
---

@import "variables";
@import "fonts";

html, body, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

body {
	background: $backgroundcolor;
	font-family: $basefont;
	color: $basefontcolor;
	margin: 0.5em;
}

p{
	line-height: 1.6em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
p:last-child{
	margin-bottom: 1.5em;
}

.comment, nav, .read-more {
	font-family: $btnfont;
}
nav > a {
	background-color: #eee;
}
a {
	color: inherit;
	text-decoration: none;
}
.entry a, .meta > a {
	text-decoration: underline dotted; 
}

header {
	padding-bottom: 0.5em;
}

.mainheader {
	border-bottom: 2px dashed black;
	padding-bottom: 1em;
	margin-bottom: 1.5em;
}

.post {
	margin-top: 1em;
	margin-bottom: 1em;
}

.title {
	position: relative;
	z-index: 1;
	font-family: $btnfont;
	display: inline-block;
	&::after {
		display: block;
		position: absolute;
		z-index: -1;
		left: 0.5em;
		top: 50%;
		width: 100%;
		height: 50%;
		content: "";
		background-color: $titleshadow;
	}
}
.page .title::after{
	background-color: $pagetitleshadow;
}

.excerpt {
	position: relative;
}

.entry {
	max-width: 35em;
}

.read-more {
	display: inline-block;
	margin-top: 0.5em;
}

code{
	font-family: $btnfont;
	background-color: #eee;
	font-size: 0.9em;
	display: inline-block;
	line-height: 1em;
	padding: 0.1em;
	margin: 0 0.15em;
	border: 1px solid #ddd;
}

code.block{
	display: block;
	line-height: 1.6em;
}

	.read-more {
		position: absolute;
		display: inline-block;
		transform-origin: top left;
		transform: rotate(90deg) translateY(-100%);
		margin: 0;
		left: 0;
		top: 0;
		padding: 0;
	}
	
	.entry--shifted{
		margin-left: 1.6em;
	}