// Colors
$backgroundcolor: #fff;
$basefontcolor: #000;
$titleshadow: #adf;
$pagetitleshadow: #bfa;

// Font stacks
$basefont: "Source Sans Pro", "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$btnfont: "Source Code Pro", "Courier New", courier, monospace;
$fontdisplay: swap;

// Mobile breakpoints
@mixin small-screen {
  @media screen and (max-width: 550px) {
    @content;
  }
}

@mixin big-screen {
  @media screen and (min-width: 550px) {
    @content;
  }
}