// Colors
$backgroundcolor: #fff;
$basefontcolor: #000;
$titleshadow: #adf;

// Font stacks
$basefont: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$btnfont: "Source Code Pro", courier, monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 550px) {
    @content;
  }
}