---
layout: compress
---

<!DOCTYPE html>

<html lang="en"></html>
<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}{% if site.description %} – {{ site.description }}{% endif %}</title>

{% include meta.html %}

<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<base href="{{ site.baseurl }}">
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml" />

{{ content }}